body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 41);
}

header {
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    display: flex;
    flex-wrap: wrap; 
    /* justify-content: space-between; */
    /* border: 2px solid black; */
}

#trans-list {
    /* border: 2px solid red; */
    width: 100%;
    list-style: none;
    column-count: 2;
    padding: 0;
    margin: 0;
}
#trans-list li {
    color: white;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2px;
    word-break: break-all;
}
