body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 41);
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
h1 {
    color: white;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
#fraud-alert {
    text-align: center;
    font-weight: bold;
    background-color: red;
    margin-bottom: 10px;
    padding: 1%;
    width: 20%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    padding: 6px;
    border: 3px solid rgb(17, 17, 80);
    border-radius: 20px;
    width: 100%;
}

table {
    width: 40%;
    margin-right: 5%;
    border-collapse: collapse;
}
table th, table td {
    padding: 10px;
    border: 1px solid rgb(118, 118, 187);
    box-sizing: border-box;
}
table th {
    background-color: rgb(118, 118, 187);
    text-align: left;
    font-weight: bold;
    color: white;
}
table td {
    background-color: rgb(79, 79, 136);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.map-container {
    width: 50%;
    height: 100%;
}
